In [11]:
import pandas as pd
import json

In [27]:
df = pd.read_excel('./es_mapping.xlsx')
es_dict = {}

In [28]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col</th>
      <th>type</th>
      <th>index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>MESSAGE_ID</td>
      <td>keyword</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BBS_ID</td>
      <td>keyword</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>MESSAGE_LEVEL</td>
      <td>keyword</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>PARENT_MESSAGE_ID</td>
      <td>long</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TITLE</td>
      <td>text</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
df.col.values

array(['MESSAGE_ID', 'BBS_ID', 'MESSAGE_LEVEL', 'PARENT_MESSAGE_ID',
       'TITLE', 'REPORT_FLAG', 'LSECTID', 'MSECTID', 'RPST_PRDID',
       'PRDID', 'PRDNAME', 'PRDID2', 'PRDID3', 'PRDID4', 'CHOICE_PRDID',
       'PRD_COUNT', 'REPLY_ADOPT', 'PRD_SATISFACT', 'EVAL_NAME1',
       'EVAL_VALUE1', 'EVAL_NAME2', 'EVAL_VALUE2', 'EVAL_NAME3',
       'EVAL_VALUE3', 'EVAL_NAME4', 'EVAL_VALUE4', 'READ_COUNT',
       'PARTICIPANT_COUNT', 'OPPOSITION_COUNT', 'REPLY_COUNT', 'REMARK',
       'CREDATE', 'ORD_OPTION1_NM', 'ORD_OPTION2_NM', 'ORD_OPTION3_NM',
       'CUS_GRADE', 'BEST_FLAG', 'PROMO_NUM', 'CHANL_CD'], dtype=object)

In [31]:
df.col = df.col.apply(lambda x: x.lower())
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col</th>
      <th>type</th>
      <th>index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>message_id</td>
      <td>keyword</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>bbs_id</td>
      <td>keyword</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>message_level</td>
      <td>keyword</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>parent_message_id</td>
      <td>long</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>title</td>
      <td>text</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
for col in df.col.tolist():
    es_dict[col] = {}
    es_dict[col]['type'] = df.loc[df.col == col, :].type.values[0]
    
    if 'text' == es_dict[col]['type']:
        es_dict[col]['term_vector'] = "yes"
        es_dict[col]['analyzer'] = "nori"
        es_dict[col]['fielddata'] = True
        
    es_dict[col]['index'] = bool(df.loc[df.col == col, :]['index'].values[0])

In [33]:
json.dumps(es_dict, ensure_ascii=False)

'{"message_id": {"type": "keyword", "index": true}, "bbs_id": {"type": "keyword", "index": false}, "message_level": {"type": "keyword", "index": false}, "parent_message_id": {"type": "long", "index": false}, "title": {"type": "text", "term_vector": "yes", "analyzer": "nori", "fielddata": true, "index": true}, "report_flag": {"type": NaN, "index": false}, "lsectid": {"type": "long", "index": true}, "msectid": {"type": "long", "index": false}, "rpst_prdid": {"type": "long", "index": true}, "prdid": {"type": "long", "index": true}, "prdname": {"type": "text", "term_vector": "yes", "analyzer": "nori", "fielddata": true, "index": true}, "prdid2": {"type": "long", "index": true}, "prdid3": {"type": "long", "index": true}, "prdid4": {"type": "long", "index": true}, "choice_prdid": {"type": "long", "index": true}, "prd_count": {"type": "long", "index": false}, "reply_adopt": {"type": "integer", "index": true}, "prd_satisfact": {"type": "integer", "index": true}, "eval_name1": {"type": "keyword", "index": true}, "eval_value1": {"type": "integer", "index": true}, "eval_name2": {"type": "keyword", "index": true}, "eval_value2": {"type": "integer", "index": true}, "eval_name3": {"type": "keyword", "index": true}, "eval_value3": {"type": "integer", "index": true}, "eval_name4": {"type": "keyword", "index": true}, "eval_value4": {"type": "integer", "index": true}, "read_count": {"type": "integer", "index": true}, "participant_count": {"type": "integer", "index": true}, "opposition_count": {"type": "integer", "index": true}, "reply_count": {"type": "integer", "index": true}, "remark": {"type": "keyword", "index": true}, "credate": {"type": "date", "index": true}, "ord_option1_nm": {"type": "text", "term_vector": "yes", "analyzer": "nori", "fielddata": true, "index": true}, "ord_option2_nm": {"type": "text", "term_vector": "yes", "analyzer": "nori", "fielddata": true, "index": true}, "ord_option3_nm": {"type": "text", "term_vector": "yes", "analyzer": "nori", "fielddata": true, "index": true}, "cus_grade": {"type": "keyword", "index": true}, "best_flag": {"type": "keyword", "index": true}, "promo_num": {"type": "long", "index": false}, "chanl_cd": {"type": "keyword", "index": true}}'