In [1]:
import pandas as pd

In [2]:
data_dir = '../category_names/data/'

In [5]:
df = pd.read_pickle(data_dir+'df_category_raw.pkl')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GS SHOP LIVE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>더 뷰티</td>
    </tr>
    <tr>
      <th>2</th>
      <td>왕영은의 톡톡톡</td>
    </tr>
    <tr>
      <th>3</th>
      <td>스타일 나우</td>
    </tr>
    <tr>
      <th>4</th>
      <td>테이스티 샵</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
df_cnt = df.groupby('category_names').size().\
    sort_values(ascending=False).to_frame()
df_cnt.columns = ['cnt']
df_cnt = df_cnt.reset_index()
df_cnt.head()

In [15]:
df_cnt = df_cnt.loc[df_cnt.cnt > 1]
len(df_cnt)

3689

In [17]:
df_cnt.to_pickle(data_dir+'df_category_candidate.pkl')