In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data_dir = '../category_names/data/'

In [3]:
df = pd.read_pickle(data_dir+'df_category_raw.pkl')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GS SHOP LIVE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>더 뷰티</td>
    </tr>
    <tr>
      <th>2</th>
      <td>왕영은의 톡톡톡</td>
    </tr>
    <tr>
      <th>3</th>
      <td>스타일 나우</td>
    </tr>
    <tr>
      <th>4</th>
      <td>테이스티 샵</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df_cnt = df.groupby('category_names').size().\
    sort_values(ascending=False).to_frame()
df_cnt.columns = ['cnt']
df_cnt = df_cnt.reset_index()
df_cnt.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>기타</td>
      <td>53</td>
    </tr>
    <tr>
      <th>1</th>
      <td>점퍼</td>
      <td>51</td>
    </tr>
    <tr>
      <th>2</th>
      <td>스킨케어</td>
      <td>49</td>
    </tr>
    <tr>
      <th>3</th>
      <td>기획세트</td>
      <td>47</td>
    </tr>
    <tr>
      <th>4</th>
      <td>가방</td>
      <td>45</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
df_cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12259 entries, 0 to 12258
Data columns (total 2 columns):
category_names    12259 non-null object
cnt               12259 non-null int64
dtypes: int64(1), object(1)
memory usage: 191.6+ KB

In [6]:



sns.barplot(x=df_cnt.index, y=df_cnt.cnt)

In [15]:
df_cnt.loc[df_cnt.cnt == 1].sample(20)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7151</th>
      <td>학생</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6943</th>
      <td>기타 소형가전</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3704</th>
      <td>필수 케어</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10547</th>
      <td>생태</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8900</th>
      <td>업소용 김치냉장고</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11386</th>
      <td>카라티</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11311</th>
      <td>스트라이프 셔츠</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4864</th>
      <td>바디젤</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3926</th>
      <td>편의 용품</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11989</th>
      <td>캐시미어</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8039</th>
      <td>여성잠옷</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5239</th>
      <td>페이크삭스</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4635</th>
      <td>미래</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7652</th>
      <td>기타 갤럭시 케이스</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9684</th>
      <td>웨딩 꽃팔찌</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4399</th>
      <td>드라이플라워</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8294</th>
      <td>와인냉장고</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9328</th>
      <td>정치비평</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6696</th>
      <td>LE NOBILI</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5661</th>
      <td>가방소품</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
df_cnt = df_cnt.loc[df_cnt.cnt > 1]
len(df_cnt)

3689

In [17]:
df_cnt.to_pickle(data_dir+'df_category_candidate.pkl')