In [1]:
import pandas as pd

In [2]:
data_dir = '../category_names/data/'

In [3]:
df = pd.read_pickle(data_dir+'df_category_raw.pkl')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GS SHOP LIVE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>더 뷰티</td>
    </tr>
    <tr>
      <th>2</th>
      <td>왕영은의 톡톡톡</td>
    </tr>
    <tr>
      <th>3</th>
      <td>스타일 나우</td>
    </tr>
    <tr>
      <th>4</th>
      <td>테이스티 샵</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df_cnt = df.groupby('category_names').size().sort_values(ascending=False).to_frame()
df_cnt.columns = ['cnt']
df_cnt = df_cnt.reset_index()
df_cnt.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>기타</td>
      <td>53</td>
    </tr>
    <tr>
      <th>1</th>
      <td>점퍼</td>
      <td>51</td>
    </tr>
    <tr>
      <th>2</th>
      <td>스킨케어</td>
      <td>49</td>
    </tr>
    <tr>
      <th>3</th>
      <td>기획세트</td>
      <td>47</td>
    </tr>
    <tr>
      <th>4</th>
      <td>가방</td>
      <td>45</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
df_cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12259 entries, 0 to 12258
Data columns (total 2 columns):
category_names    12259 non-null object
cnt               12259 non-null int64
dtypes: int64(1), object(1)
memory usage: 191.6+ KB

In [6]:
df_cnt.loc[df_cnt.cnt == 1].sample(20)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category_names</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6063</th>
      <td>강연대</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8368</th>
      <td>외시</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8340</th>
      <td>외식상품권</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7891</th>
      <td>영스킨</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5853</th>
      <td>What new</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9434</th>
      <td>재키</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10933</th>
      <td>볼륨</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4695</th>
      <td>파우더통</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7593</th>
      <td>기능성화장품</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4233</th>
      <td>피부표현_루스 파우더_중.건성</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10945</th>
      <td>볼마커</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7650</th>
      <td>기타 거실의자</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11791</th>
      <td>쇼퍼</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8850</th>
      <td>천장형 냉온풍기</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11406</th>
      <td>카메라보호</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3935</th>
      <td>하이라이스</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4386</th>
      <td>녹즙기</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10322</th>
      <td>비교문학</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11537</th>
      <td>아마씨드</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10261</th>
      <td>키패드</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df_cnt = df_cnt.loc[df_cnt.cnt > 1]
len(df_cnt)

3689

In [10]:
df_cnt.to_pickle(data_dir+'df_category_candidate.pkl')