In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from itertools import chain
%matplotlib inline

In [3]:
df_train = pd.read_pickle('df_dataset.pkl')

In [5]:
df_train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>text</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>또..주문 합니다  잇몸에 자극이  없어서 좋아욤</td>
      <td>[주문, 하, 잇, 몸, 자극, 없, 좋, 욤]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>흡수력은 좋은고 같구요 다른 비타민씨제품이 요즘 약간 속당김이 느껴지는거 같아 바꿔...</td>
      <td>[흡수, 력, 좋, 같, 비타민, 씨, 제품, 속, 당기, 느끼, 지, 것, 같, ...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>이너로 입기에도 충전재가 약하네요;;\n 조끼 빼고 겉옷 위에 털조끼 입고 외출 했...</td>
      <td>[이너, 입, 충전, 재, 약하, 조끼, 빼, 겉, 옷, 위, 털, 조끼, 입, 하...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>딸아이 코에 해봤는데 잘 안빠지네요~ㅠㅠ\n목욕후 모공이 열렸을때 다시 해보려구요.</td>
      <td>[딸, 아이, 코, 하, 보, 빠지, ㅠㅠ, 목욕, 후, 모공, 열리, 때, 하, 보]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>빠른 배송 감사합니다. 아이가 너무 마음에 들어 합니다.</td>
      <td>[빠르, 배송, 감사, 아이, 마음, 듣, 하]</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
text = df_train.x.tolist()

In [6]:
word_count = dict()

for word in chain(*text):
    if not word in word_count.keys():
        word_count[word] = 1
    else:
        word_count[word] += 1

In [7]:
df_word_count = pd.DataFrame(data={'word':list(word_count.keys()), 'cnt':list(word_count.values())})
df_word_count = df_word_count.sort_values(by=['cnt'], ascending=False).reset_index(drop=True)

In [8]:
df_word_count[df_word_count.cnt>6]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>word</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>좋</td>
      <td>68239</td>
    </tr>
    <tr>
      <th>1</th>
      <td>이</td>
      <td>64996</td>
    </tr>
    <tr>
      <th>2</th>
      <td>하</td>
      <td>38342</td>
    </tr>
    <tr>
      <th>3</th>
      <td>것</td>
      <td>37673</td>
    </tr>
    <tr>
      <th>4</th>
      <td>있</td>
      <td>27065</td>
    </tr>
    <tr>
      <th>5</th>
      <td>보</td>
      <td>23071</td>
    </tr>
    <tr>
      <th>6</th>
      <td>같</td>
      <td>20020</td>
    </tr>
    <tr>
      <th>7</th>
      <td>입</td>
      <td>19634</td>
    </tr>
    <tr>
      <th>8</th>
      <td>않</td>
      <td>17201</td>
    </tr>
    <tr>
      <th>9</th>
      <td>구매</td>
      <td>16556</td>
    </tr>
    <tr>
      <th>10</th>
      <td>사용</td>
      <td>16515</td>
    </tr>
    <tr>
      <th>11</th>
      <td>쓸</td>
      <td>14666</td>
    </tr>
    <tr>
      <th>12</th>
      <td>쓰</td>
      <td>12809</td>
    </tr>
    <tr>
      <th>13</th>
      <td>제품</td>
      <td>12223</td>
    </tr>
    <tr>
      <th>14</th>
      <td>가격</td>
      <td>11780</td>
    </tr>
    <tr>
      <th>15</th>
      <td>되</td>
      <td>11770</td>
    </tr>
    <tr>
      <th>16</th>
      <td>사이즈</td>
      <td>11442</td>
    </tr>
    <tr>
      <th>17</th>
      <td>배송</td>
      <td>11290</td>
    </tr>
    <tr>
      <th>18</th>
      <td>크</td>
      <td>11022</td>
    </tr>
    <tr>
      <th>19</th>
      <td>만족</td>
      <td>10707</td>
    </tr>
    <tr>
      <th>20</th>
      <td>사</td>
      <td>9794</td>
    </tr>
    <tr>
      <th>21</th>
      <td>지</td>
      <td>9602</td>
    </tr>
    <tr>
      <th>22</th>
      <td>주문</td>
      <td>9343</td>
    </tr>
    <tr>
      <th>23</th>
      <td>편하</td>
      <td>9249</td>
    </tr>
    <tr>
      <th>24</th>
      <td>주</td>
      <td>9132</td>
    </tr>
    <tr>
      <th>25</th>
      <td>없</td>
      <td>8944</td>
    </tr>
    <tr>
      <th>26</th>
      <td>번</td>
      <td>8731</td>
    </tr>
    <tr>
      <th>27</th>
      <td>맘</td>
      <td>8702</td>
    </tr>
    <tr>
      <th>28</th>
      <td>듣</td>
      <td>8585</td>
    </tr>
    <tr>
      <th>29</th>
      <td>예쁘</td>
      <td>8336</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>5758</th>
      <td>퉁</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5759</th>
      <td>항도</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5760</th>
      <td>짖</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5761</th>
      <td>sk</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5762</th>
      <td>넘쳐나</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5763</th>
      <td>맘먹</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5764</th>
      <td>아일랜드</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5765</th>
      <td>식당</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5766</th>
      <td>변</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5767</th>
      <td>계단</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5768</th>
      <td>프린스</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5769</th>
      <td>덜미</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5770</th>
      <td>틋하게</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5771</th>
      <td>시야</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5772</th>
      <td>어지럽</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5773</th>
      <td>번질거리</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5774</th>
      <td>초초</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5775</th>
      <td>코스트</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5776</th>
      <td>바탕</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5777</th>
      <td>운행</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5778</th>
      <td>청구</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5779</th>
      <td>수험</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5780</th>
      <td>뚝배기</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5781</th>
      <td>틋하네요</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5782</th>
      <td>현혹</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5783</th>
      <td>결로</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5784</th>
      <td>쩍</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5785</th>
      <td>접지</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5786</th>
      <td>146</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5787</th>
      <td>툴</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
<p>5788 rows × 2 columns</p>
</div>

In [22]:
df_vocabulary = df_word_count.loc[df_word_count.cnt > 7].reset_index()

In [23]:
df_vocabulary = df_vocabulary.rename({'index':'idx'}, axis=1)[['idx', 'word']]
df_vocabulary['idx'] = df_vocabulary['idx'] + 1

In [24]:
vocabulary = dict()
vocabulary_inv = dict()

In [30]:
def set_vocab(row):
    vocabulary[row.word] = row.idx
    vocabulary_inv[row.idx] = row.word

vocabulary['UNK'] = 0
vocabulary[0] = 'UNK'

df_vocabulary.apply(lambda row: set_vocab(row), axis=1)

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
5364    None
5365    None
5366    None
5367    None
5368    None
5369    None
5370    None
5371    None
5372    None
5373    None
5374    None
5375    None
5376    None
5377    None
5378    None
5379    None
5380    None
5381    None
5382    None
5383    None
5384    None
5385    None
5386    None
5387    None
5388    None
5389    None
5390    None
5391    None
5392    None
5393    None
Length: 5394, dtype: object

In [13]:
def terms_to_seq(terms_list):
    seq_list = []
    for term in terms_list:
        seq_list.append(vocabulary.get(term, 0))
    return np.array(seq_list)

df_train['seq'] = df_train.x.apply(lambda terms_list: terms_to_seq(terms_list))

AttributeError: 'DataFrame' object has no attribute 'sorted_terms'

In [25]:
df_train.reset_index(drop=True).to_pickle('df_dataset.pkl')

In [13]:
df_vocabulary.to_pickle('df_vocabulary.pkl')

In [36]:
df_word_count.loc[df_word_count.word == '249']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>word</th>
      <th>cnt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>16926</th>
      <td>249</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>