In [74]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_excel('./depreciation_cost_original.xlsx', sheet='18추정')
df.columns = [col.strip() for col in df.columns]
column_dict = {
    'Serial No.': 'serial_no', 
    'Warranty기간': 'warranty_period', 
    '내용연수': 'years', 
    '담당코스트센타': 'cost_depart_id', 
    '담당코스트센터명': 'cost_depart_name', 
    '보조번호': 'sub_id', 
    '본부/부문': 'section_name', 
    '분류': 'cate_id', 
    '분류명': 'cate_name', 
    '사업영역': 'business_area', 
    '수  량': 'val', 
    '유지보수금액': 'maintenance_cost', 
    '유지보수율': 'maintenance_ratio', 
    # '자본화연도': 'intro_year', 
    # '자본화월': 'intro_month', 
    '자본화일': 'intro_date', 
    '자산내역': 'asset_name', 
    '자산번호': 'id', 
    '자산상세내역': 'asset_details', 
    '자산클래스': 'asset_class_id', 
    '자산클래스명': 'asset_class_name', 
    '전기말감가상각누계액': 'prev_depre_cost', 
    '총취득원가': 'original_price', 
    '코스트센터': 'depart_id', 
    '코스트센터명': 'depart_name'
}
df = df.rename(column_dict, axis=1)
df = df.loc[:, column_dict.values()]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4034 entries, 0 to 4033
Data columns (total 23 columns):
serial_no            5 non-null object
warranty_period      0 non-null float64
years                4034 non-null int64
cost_depart_id       4034 non-null int64
cost_depart_name     4034 non-null object
sub_id               4034 non-null int64
section_name         0 non-null float64
cate_id              4032 non-null object
cate_name            4032 non-null object
business_area        4034 non-null object
val                  4034 non-null int64
maintenance_cost     0 non-null float64
maintenance_ratio    0 non-null float64
intro_date           4034 non-null object
asset_name           4034 non-null object
id                   4034 non-null int64
asset_details        858 non-null object
asset_class_id       4034 non-null int64
asset_class_name     4034 non-null object
prev_depre_cost      0 non-null float64
original_price       4034 non-null int64
depart_id            4034 non-null int64
depart_name          4034 non-null object
dtypes: float64(5), int64(8), object(10)
memory usage: 724.9+ KB

/Users/joonyoungjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:31: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
/Users/joonyoungjeon/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [10]:
df.columns

Index(['serial_no', 'warranty_period', 'years', 'cost_depart_id',
       'cost_depart_name', 'sub_id', 'section_name', 'cate_id', 'cate_name',
       'business_area', 'val', 'maintenance_cost', 'maintenance_ratio',
       'intro_date', 'asset_name', 'id', 'asset_details', 'asset_class_id',
       'asset_class_name', 'prev_depre_cost', 'original_price', 'depart_id',
       'depart_name'],
      dtype='object')

In [44]:
df.section_name.unique()

array([nan])

In [33]:
df_depre = df.loc[:, ['asset_name', 'asset_class_name', 'original_price', 'depart_name', 'cate_name', 'intro_date']]

In [35]:
df_depre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4034 entries, 0 to 4033
Data columns (total 6 columns):
asset_name          4034 non-null object
asset_class_name    4034 non-null object
original_price      4034 non-null int64
depart_name         4034 non-null object
cate_name           4032 non-null object
intro_date          4034 non-null object
dtypes: int64(1), object(5)
memory usage: 189.2+ KB

In [34]:
df_depre.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>asset_name</th>
      <th>asset_class_name</th>
      <th>original_price</th>
      <th>depart_name</th>
      <th>cate_name</th>
      <th>intro_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>N-LG-U460-14-i5</td>
      <td>전산장비</td>
      <td>930150</td>
      <td>IT개발운영팀</td>
      <td>전산장비-노트북PC</td>
      <td>2014.01.01</td>
    </tr>
    <tr>
      <th>1</th>
      <td>L-LG-23MP55HQ</td>
      <td>전산장비</td>
      <td>176931</td>
      <td>디지털콘텐츠사업본부</td>
      <td>전산장비-모니터</td>
      <td>2014.01.01</td>
    </tr>
    <tr>
      <th>2</th>
      <td>N-LG-U460-14-i5</td>
      <td>전산장비</td>
      <td>930150</td>
      <td>IT개발운영팀</td>
      <td>전산장비-노트북PC</td>
      <td>2014.01.01</td>
    </tr>
    <tr>
      <th>3</th>
      <td>D-LG-Z70PS-i5</td>
      <td>전산장비</td>
      <td>808826</td>
      <td>IT개발운영팀</td>
      <td>전산장비-데스크탑PC</td>
      <td>2014.01.01</td>
    </tr>
    <tr>
      <th>4</th>
      <td>L-LG-23MP55HQ</td>
      <td>전산장비</td>
      <td>176931</td>
      <td>웰빙라이프팀</td>
      <td>전산장비-모니터</td>
      <td>2014.01.01</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
df_depre.asset_class_name = df_depre['asset_class_name'].astype('category')
df_depre.depart_name = df_depre['depart_name'].astype('category')
df_depre.cate_name = df_depre['cate_name'].astype('category')
df_depre['intro_year'] = df_depre['intro_date'].apply(lambda x: x[:4]).astype('category')

In [46]:
df_depre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4034 entries, 0 to 4033
Data columns (total 7 columns):
asset_name          4034 non-null object
asset_class_name    4034 non-null category
original_price      4034 non-null int64
depart_name         4034 non-null category
cate_name           4032 non-null category
intro_date          4034 non-null object
intro_year          4034 non-null category
dtypes: category(4), int64(1), object(2)
memory usage: 117.2+ KB

In [47]:
df_depre_year = df_depre.groupby(by=[df_depre.intro_year])

In [64]:
df_depre_year[['original_price']].sum().index.tolist()

['2014', '2015', '2016', '2017', '2018']

TypeError: float() argument must be a string or a number, not 'AxesSubplot'